
RewriteEngine on
RewriteCond %{HTTP_HOST} ^squareclubbelgrade\.belgradeluxury\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.squareclubbelgrade\.belgradeluxury\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/squareclubbelgrade\.belgradeluxury\.com\/public\/index\.html" [R=301,L]
